In [2]:
boardc=["A1","A2","A3","A4","A5","A6","A7","A8","B1","B2","B3","B4","B5","B6","B7","B8","C1","C2","C3","C4","C5","C6","C7","C8","D1","D2","D3","D4","D5","D6","D7","D8","E1","E2","E3","E4","E5","E6","E7","E8"]

In [1]:
import pandas as pd

ds=pd.read_csv('Sici_mov1.csv')
ds

,A1,A2,A3,A4,A5,A6,A7,A8,B1,B2,...,G7,G8,H1,H2,H3,H4,H5,H6,H7,H8
0,LBR,LBK,LBB,BQ,BK,RBB,RBK,RBR,'BP1','BP2',...,'WP7','WP8',"""LWR""",LWK,LWB,WQ,WK,RWB,RWK,RWR
1,LBR,LBK,LBB,BQ,BK,RBB,RBK,RBR,'BP1','BP2',...,'WP7','WP8',"""LWR""",LWK,LWB,WQ,WK,RWB,RWK,RWR

In [3]:
import numpy as np

m=8
n=8
board=[["LBR","LBK","LBB","BQ","BK","RBB","RBK","RBR"],
 ['BP1', 'BP2', 'BP3', 'BP4', 'BP5', 'BP6', 'BP7', 'BP8'],
  ['0', '0', '0', '0', '0', '0', '0', '0'],
       ['0', '0', '0', '0', '0', '0', '0', '0'],
       ['0', '0', '0', '0', '0', '0', '0', '0'],
       ['0', '0', '0', '0', '0', '0', '0', '0'],
       ['WP1', 'WP2', 'WP3', 'WP4', 'WP5', 'WP6', 'WP7', 'WP8'],
       ["LWR","LWK","LWB","WQ","WK","RWB","RWK","RWR"]
]
board

[['LBR', 'LBK', 'LBB', 'BQ', 'BK', 'RBB', 'RBK', 'RBR'],
 ['BP1', 'BP2', 'BP3', 'BP4', 'BP5', 'BP6', 'BP7', 'BP8'],
 ['0', '0', '0', '0', '0', '0', '0', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0'],
 ['0', '0', '0', '0', '0', '0', '0', '0'],
 ['WP1', 'WP2', 'WP3', 'WP4', 'WP5', 'WP6', 'WP7', 'WP8'],
 ['LWR', 'LWK', 'LWB', 'WQ', 'WK', 'RWB', 'RWK', 'RWR']]

In [4]:
pawn=['BP1', 'BP2', 'BP3', 'BP4', 'BP5', 'BP6', 'BP7', 'BP8','WP1', 'WP2', 'WP3', 'WP4', 'WP5', 'WP6', 'WP7', 'WP8']
king=['BK','WK']
queen=['BK','WK']
rook=["LBR","RBR","LWR","RWR"]
bishop=["LBB","RBB","LWB","RWB"]
knight=["LBK","RBK","LWK","RWK"]
black=["LBR","LBK","LBB","BQ","BK","RBB","RBK","RBR",'BP1', 'BP2', 'BP3', 'BP4', 'BP5', 'BP6', 'BP7', 'BP8']
white= ['WP1', 'WP2', 'WP3', 'WP4', 'WP5', 'WP6', 'WP7', 'WP8',"LWR","LWK","LWB","WQ","WK","RWB","RWK","RWR"]

In [13]:
def mpc(pc):
  if(pc=="black"):
    up=+1
    down=-1
    left=+1
    right=-1
    return [up,down,left,right]
  elif(pc=="white"):
    up=-1
    down=+1
    left=-1
    right=+1
    return [up,down,left,right]

In [6]:
def pawn(piece,pc,plc):
  mov=mpc(pc)
  up=mov[0]
  down=mov[1]
  left=mov[2]
  right= mov[3]
  for i in range(1):
    try:
      x=plc[0]
      y=plc[1]
      if(board[x+up][y]=='0'):
        print("space to go front")
      else:
        print("Blocked by " + board[x+up][y])

      if(board[x+up][y+right] !='0'):
        print("Enemy to strike"+ board[x+up][y+right])

      if(board[x+up][y-left] !='0'):
        print("Enemy to strike"+ board[x+up][y-left])
    except:
      pass

In [33]:
def bishop(piece,pc,plc):

  for i in range(1):
    try:
      x=plc[0]
      y=plc[1]
      m=1
      # Check upper diagonal on left side
      for i, j in zip(range(x, -1, -1), range(y, -1, -1)):
          if board[i][j] !=0:
              m=0
              print("entered ud")
              break
      # Check lower diagonal on left side
      for i, j in zip(range(x, 8, 1), range(y, -1, -1)):
          if board[i][j] != 0:
              m=0
              print("entered ld")
              break
      if(m==1):
         print("space is free to move")
      else:
        print("Blocked by " )
      '''
      if(board[x+up][y+right] !='0'):
        print("Enemy to strike"+ board[x+up][y+right])

      if(board[x+up][y-left] !='0'):
        print("Enemy to strike"+ board[x+up][y-left])
    '''
    except:
      pass

In [34]:
bishop("LBB","black",[2,7])

entered ud
entered ld
Blocked by

In [30]:
bishop("RWB","white",[7,2])

space is free to move